{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Category details'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Category details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'Title'|trans }}</dt>
            <dd>{{ category.title }}</dd>
            <dt>{{ 'Created at'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'Updated at'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'Actions'|trans }}</dt>
            <dd>
                <a href="{{ path('category_index') }}" title="{{ 'Back'|trans }}">
                    {{ 'Back'|trans }}
                </a>
            </dd>
        </dl>
    {% else %}
        <p>
            {{ 'Record not found'|trans }}
        </p>
    {% endif %}
{% endblock %}
