{% extends 'base.html.twig' %}

{% block title %}{{ 'Comment'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'Leave a Comment'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.content) }}
    <button class="btn btn-primary">{{ 'Submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}