{% extends 'base.html.twig' %}

{% block title %}
    {{ 'News'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'News'|trans }}</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="mb-3">
            <a href="{{ path('news_create') }}" class="btn btn-primary">{{ 'Create news'|trans }}</a>
        </div>
    {% endif %}

    <form method="get" action="{{ path('news_index') }}" class="form-inline mb-3">
        <div class="form-group mr-2">
            <label for="categoryId" class="mr-2">{{ 'Category'|trans }}</label>
            <select id="categoryId" name="categoryId" class="form-control">
                <option value="">{{ 'All categories'|trans }}</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if app.request.query.get('categoryId') == category.id %}{{ 'Selected'|trans }}{% endif %}>
                        {{ category.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mr-2">
            <label for="tagId" class="mr-2">{{ 'Tag'|trans }}</label>
            <select id="tagId" name="tagId" class="form-control">
                <option value="">{{ 'All tags'|trans }}</option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}" {% if app.request.query.get('tagId') == tag.id %}{{ 'Selected'|trans }}{% endif %}>
                        {{ tag.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">{{ 'Filter'|trans }}</button>
    </form>

    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'news.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created at'|trans, 'news.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Updated at'|trans, 'news.updatedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'news.title') }}</th>
                    <th>{{ 'Author'|trans }}</th>
                    <th>{{ 'Category'|trans }}</th>
                    <th>{{ 'Tag'|trans }}</th>
                    {% set displayActions = false %}
                    {% for news in pagination.items %}
                        {% if is_granted('VIEW', news) or is_granted('ROLE_ADMIN') %}
                            {% set displayActions = true %}
                        {% endif %}
                    {% endfor %}
                    {% if displayActions %}
                        <th>{{ 'Actions'|trans }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for news in pagination.items %}
                    <tr>
                        <td>{{ news.id }}</td>
                        <td>{{ news.createdAt|format_date('long') }}</td>
                        <td>{{ news.updatedAt|format_date('long') }}</td>
                        <td>{{ news.title }}</td>
                        <td>{{ news.author.username }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{{ path('news_index', {'categoryId': news.category.id}) }}">
                                {{ news.category.title }}
                            </a>
                        </td>
                        <td>
                            {% if news.tags is defined and news.tags|length %}
                                {% for tag in news.tags %}
                                    <a class="btn btn-outline-primary" href="{{ path('news_index', {'tagId': tag.id}) }}">
                                        {{ tag.title }}
                                    </a>
                                {% endfor %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('VIEW', news) or is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-primary" href="{{ path('news_show', {'id': news.id}) }}">
                                    {{ 'Show'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', news) or is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-success" href="{{ path('news_edit', {'id': news.id}) }}">
                                    {{ 'Edit'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', news) or is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-danger" href="{{ path('news_delete', {'id': news.id}) }}">
                                    {{ 'Delete'|trans }}
                                </a>
                            {% endif %}
                                <a class="btn btn-outline-success" href="{{ path('news_rate', {'id': news.id}) }}">
                                    {{ 'Rate'|trans }}
                                </a>
                            <a class="btn btn-outline-success" href="{{ path('news_comment', {'id': news.id}) }}">
                                {{ 'Comment'|trans }}
                            </a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>{{ 'Empty list'|trans }}</p>
    {% endif %}
{% endblock %}
