{% extends 'base.html.twig' %}

{% block title %}{{ 'Rating'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Title'|trans }}: {{ news.title }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.rating) }}
    <button class="btn btn-primary">{{ 'Submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
