{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Tag details'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'Tag details'|trans({'%id%': tag.id|default('')}) }}</h1>
    {% if tag is defined and tag|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'id'|trans }}</dt>
            <dd>{{ tag.id }}</dd>
            <dt>{{ 'Created at'|trans }}</dt>
            <dd>{{ tag.createdAt|format_date('long') }}</dd>
            <dt>{{ 'Updated at'|trans }}</dt>
            <dd>{{ tag.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'Title'|trans }}</dt>
            <dd>{{ tag.title }}</dd>
            <dt>{{ 'Actions'|trans }}</dt>
            <dd>
                <a href="{{ path('tag_index') }}" title="{{ 'Back'|trans }}">
                    {{ 'Back'|trans }}
                </a>
            </dd>
        </dl>
    {% else %}
        <p>
            {{ 'Record not found'|trans }}
        </p>
    {% endif %}
{% endblock %}
